# https://travis-ci.org/tgbugs/pyontutils
sudo: false
language: python
env:
  global:
    - NIFSTD_CHECKOUT_OK=1
branches:
  only:
    - master
  git:
    depth: 3

python:
  - 3.6
  - 3.7
  - 3.8
  # - pypy3.5  # issues with joblib and _pickle

addons:
  apt:
    packages:
      - pandoc
      - hunspell
      - libhunspell-dev

before_install:
  - pushd "${TRAVIS_BUILD_DIR}/../"
  - git clone --depth=1 https://github.com/BlueBrain/nat.git
  - git clone --depth=1 https://github.com/tgbugs/methodsOntology.git
  - git clone --depth=1 https://github.com/tgbugs/entity_mapping.git
  - git clone --depth=1 https://github.com/tgbugs/orgstrap.git
  - git clone --depth=1 https://github.com/SciCrunch/NIF-Ontology.git
  - >
    orgstrap/orgstrap
    powershell
    racket-mode
    rpm-spec-mode
    ssh-config-mode
    toml-mode
    ttl-mode
    vimrc-mode
    yaml-mode
  - pushd NIF-Ontology
  - git fetch origin neurons:neurons --depth=1
  - git fetch origin dev:dev --depth=1
  - popd
  - popd

install:
  - pip install --upgrade pytest pytest-cov
  - pip install coverage coveralls && export HAS_COVERALLS=1
  - >
    for f in {htmlfn,ttlser,.,neurondm,nifstd}; do
        pushd $f;
        pip install --pre --editable . ;  # --user doesn't work in these venvs
        popd;
    done

script:
  - export COVERAGE_FILE="$(pwd)/.coverage"
  - bin/run-tests

after_success:
  - if [[ $HAS_COVERALLS && $TRAVIS_PYTHON_VERSION == 3.7 ]] ; then coveralls ; fi

after_failure:
  # for now we want converage even if things fail
  - if [[ $HAS_COVERALLS && $TRAVIS_PYTHON_VERSION == 3.7 ]] ; then coveralls ; fi
