[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.7'  # also works with pypy3

[packages]
orthauth = {git = "https://github.com/tgbugs/orthauth.git", editable = true, ref = "master"}
ontquery = {git = "https://github.com/tgbugs/ontquery.git", editable = true, ref = "master"}
neurdflib = {git = "https://github.com/tgbugs/rdflib.git", editable = true, ref = "neurdflib"}
"e1839a8" = {path = ".", editable = true}

[dev-packages]
#RDFClosure = {git = "https://github.com/rdflib/OWL-RL.git", editable = true, ref = "0c74fd060176255463e23abbdf4d91c14a0145a8"}
"e1839a8" = {path = ".", extras = ["dev"], editable = true}
