[requires]
python_version = '3.6'  # also works with pypy3

[dev-packages]
"e1839a8" = {path = ".", extras = ["dev"], editable = true}

[packages]
rdflib = {git = 'https://github.com/tgbugs/rdflib.git', ref = 'v5.0.0-dev-tgbugs-b4'}
"e1839a8" = {path = ".", editable = true}

