[packages]

docopt = "*"
flask = "*"
gitpython = "*"
ipython = "*"
joblib = "*"
lxml = "*"
mysql-connector = "*"
numpy = "*"
protobuf = "*"
psutil = "*"
"psycopg2" = "*"
pyyaml = "*"
rdflib = {git = 'https://github.com/tgbugs/rdflib.git', ref = 'v5.0.0-dev-tgbugs-b4'}
requests = "*"
robobrowser = "*"
sqlalchemy = "*"
"e1839a8" = {path = ".", editable = true}


[dev-packages]



[requires]

python_version = '3.6'
