recursive-include test *
exclude MANIFEST.in
recursive-exclude complete *
recursive-exclude development *
recursive-exclude patches *
recursive-exclude resolver *
recursive-exclude resources *
recursive-exclude scigraph *
recursive-exclude * *.pyc
recursive-exclude * *.swp
recursive-exclude * *.swo
recursive-include resources *.confd
recursive-include resources *.rc
recursive-include resources/sparc_term_versions *
